main .container {
    display: block;
}

.header {
    width: 95%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 2%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: start;
    background-color: rgb(45, 45, 45);
}

.header button {
    background: none;
    border: none;
    cursor: pointer;
}

.back {
    width: 5%;
}

.back img {
    width: 70%;
}

.header h1 {
    width: 90%;
}

.message {
    text-align: left;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.message-header {
    margin-top: 10px;
    display: inline-flex;
}

.message-main {
    width: 95%;
    margin: 0 auto;

}

.author {
    background-color: rgba(42, 128, 194, 0.6);
    width: 200px;
    padding: 10px;
    margin: 5px;
    margin-left: 20px;
    border-radius: 7px;
}

.time {
    text-align: center;
    height: 100%;
    padding: 10px;
    margin: 5px;
}


.user {
    background-color: rgba(225, 225, 225, 0.3);
    width: 200px;
    padding: 10px;
    margin: 5px;
    margin-left: 20px;
    border-radius: 7px;
}